body{
    font-family: 'Microsoft YaHei';
}
.mai-icon{
    width:40px;
    height: 40px;
    line-height: 40px;
    background-color:#40D2B1;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    margin-right: 20px;
}

/*导航*/
.navbar-default{
    background-color: #fff;
    border: none;
    box-shadow: 0 2px 8px 0 rgba(50,50,50,0.25);
}
.navbar-default .navbar-brand{
    font-size: 30px;
    font-weight: bold;
    color: #40D2B1;
    height: 70px;
    line-height: 35px;
}
.navbar-default .navbar-nav > li > a {
    font-size: 16px;
    font-weight: bold;
    color: #666;
    height: 70px;
    line-height: 35px;
}
.navbar-default .navbar-toggle:hover{
    background: #40D2B1;
}
.navbar-default .navbar-toggle:hover .icon-bar{
    background: #fff;
}
.navbar-default .navbar-toggle .icon-bar{
    background-color: #40D2B1;
}
.navbar-toggle{
    margin-top: 18px;
}

/*home*/
#home{
    width:100%;
    background:url(../img/home-bg.jpg);
    background-size: cover;
    color: #fff;
    margin-top:70px;
    text-align: center;
}
.lvjing{
    width:100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    padding:90px 0;
}
#home h1{
    font-weight: bold;
    margin-top:0;
    margin-bottom:25px;
}
#home p{
    font-weight: 400;
    line-height: 35px;
}
#home img{
    display: inline-block;
    margin-top:30px;
}

/*bbs*/
#bbs{
    padding:80px 0;
    text-align: center;
}
#bbs h3{
    font-weight: bold;
}
#bbs a{
     color: #000;
    text-decoration: none;
}
#bbs img{
    margin:0 auto;
}
#bbs .col-md-4{
    padding:15px;
}
#bbs .col-md-4:hover{
    background-color: #f1f1f1;
    box-shadow: 1px 1px 4px #ccc;
}

/*html5*/
#html5{
    background-color:#f8f8f8;
}
#html5,#bootstrap{
    padding:80px 0;
}
#html5 h2,#bootstrap h2{
    font-weight: bold;
    padding-bottom: 10px;
}
#html5 p,#bootstrap p{
    line-height: 25px;
}

/*course*/
#course{
    background-color:#f8f8f8;
    padding:80px 0;
    text-align: center;
}
#course h2{
    font-weight: bold;
    padding-bottom: 60px;
}
#course .col-md-3{
    margin-bottom: 20px;
}
.course{
    background-color: #fff;
}
.course .btn{
    background: transparent;
    border: 1px solid #40D2B1;
    border-radius: 0;
    color: #40D2B1;
    margin: 20px 0 30px;
    padding: 8px 40px;
    transition:background 0.3s ;
}
.course .btn:hover{
    color: #fff;
    background:#40D2B1 ;
}

/*app*/
#app{
    background-color: #fff;
    padding:80px 0;
}
#app h2{
    font-weight: bold;
    padding-bottom: 30px;
}
#app p{
    padding-bottom:10px;
}
#app .btn{
    background:#40D2B1;
    border-radius: 0;
    padding:6px 30px;
    border:0;
    transition:background 0.4s;
}
#app .btn:hover{
    background:rgb(44, 142, 120) ;
}

/*contact*/
#contact{
    background: url(../img/contact-bg.png) no-repeat;
    background-size: cover;
    color: #fff;
}
#contact h2{
    font-weight: bold;
    margin:0 0 25px;
}
#contact p{
    margin-bottom: 20px;
    line-height: 25px;
}
#contact .form-control{
    border-radius: 0;
    border: 0;
    height: 50px;
    margin-bottom: 20px;
}
#contact textarea.form-control{
    height: auto;
}
#contact input[type="submit"]{
    width: 100%;
    font-weight: bold;
    color: #fff;
    background: #40D2B1;
    margin-bottom: 0;
    transition:background 0.4s;
}
#contact input[type="submit"]:hover{
    background:rgb(44, 142, 120) ;
}
footer{
    padding:20px;
    text-align: center;
    font-weight: 400;
}
